.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 10px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, #ffffff, #90acaa,  #ffffff ) 47% 0%;
   
}
@media screen and (min-width:1300px) {
    .container{
        width: 1300px;
    }
}



.list{
    list-style: none;
}

link{
    text-decoration: none;
}

.header{
    height: 60px;
}


.user{
    margin-left: auto;
}

.user-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.user__item{
    scale: 1;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 50%;
}

.user__item:hover{
    scale: 1.5;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 100%;
}

.user-link{
    width: 25px;
    height: 25px;
}

.logo{
    width: 390px;
    height: auto;
}






.user_icon{
    width: 100%;
    height: 100%;
}



.trustpilot-widget{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 0;
    width: 1280px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, #ffffff, #90acaa,  #ffffff ) 47% 0%;
}

.navigation{
    margin-top: 30px;
}

.navigation-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.navigation-item{
    transition:all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.navigation-item:hover{
border-bottom: 2px solid #394d7f;
    transition:all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link{
    display: block;
    font-weight: 400;
    color: #424348;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    
}